#bottom {
  background-color: #222;
  width: 100%;
  height: calc(var(--vh, 1vh) * 8); /* Preenche o resto da tela */
  display: flex;
  position: fixed;
  bottom: 0;
  left: 0;
  gap: 2px;
  padding: 4px 0 0;
  #snake {
    left: calc(var(--vh, 1vh) * 1);
    bottom: 0;
  }
  #settings {
    position: absolute;
    right: calc(var(--vh, 1vh) * 1);
    bottom: 0;
  }
  #changelog {
    position: absolute;
    right: calc(var(--vh, 1vh) * 17);
    bottom: 0;
  }
}
.page-button {
  height: 85%;
  background-color: #333;
  border-radius: 5px 5px 0 0;
  align-self: end;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  cursor: pointer;
  width: calc(var(--vh, 1vh) * 15);
  &:active {
    transform: scale(0.9) !important;
    transition: transform 0.15s;
  }
  &:hover {
    transform: scale(1.08);
    transition: transform 0.15s;
  }
}