* {
  margin: 0;
  padding: 0;
  gap: 0;
  font-family: Helvetica;
  box-sizing: border-box;
  color: white;
}
ul {
  padding-inline-start: 2rem;
}
li {
  list-style: none;
}
body {
  height: calc(var(--vh, 1vh) * 100);
  background-color: #444;
}

header {
  display: flex;
  width: 100%;
  height: calc(var(--vh, 1vh) * 10);
  justify-content: center;
  align-items: center;
  color: #fff;
  background-color: #555;
  border: 1px solid #454545;
}